* {
    box-sizing: border-box;

}
.overlay {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(28, 31, 37, 0.5);
    z-index: -1;
}

body {
    content: '';
    width: 100vw;
    height: 100vh;
    margin-top:20px;
    background-image: url("Images/bg1-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.navbar {
    align-items: flex-start;
    justify-content: space-between;
    position: sticky;
}

.navbar-nav {
    margin-right: 50px;
    
}
.link {
    color: rgb(4, 0, 15);
    margin-left: 30px;
    text-decoration: none;
    outline: none;

}

/* HOME STYLING */

.sub-div {
    background-color: transparent;
    width: 850px;
    height: 430px;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 12%;
    border-radius: 0px;
    padding: 40px 0px 0px 37px;
    z-index: 2;
    box-shadow: 0 0 30px rgb(0, 2, 15);


}

.home-header {
    color:rgb(183, 200, 201)
    
}
.header-span {
    color:rgb(195, 242, 248);
}
.text {
    color:rgb(183, 183, 187)
}

.para-span {
    color:rgba(2, 24, 34, 0.5)
}

.col {
    margin-top: 40px;
}

.icon {
    color:rgb(4, 62, 88);
}


/* SERVICE STYLING */




    