* {
    box-sizing: border-box;

}
.overlay {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(24, 24, 23, 0.8);
    z-index: -1;
}

body {
    content: '';
    width: 100vw;
    height: 100vh;
    margin-top:20px;
    background-image: url("bg-image/bg5-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.navbar {
    align-items: flex-start;
    justify-content: space-between;
    position: sticky;
    padding: 0px 30px 30px 0px;
}

.navbar-nav {
    margin-right: 10%;
    
}
.link {
    margin-right: 30%;
    text-decoration: none;
    outline: none;

}

/* HOME STYLING */

.sub-div {
    background-color: transparent;
    width: 880px;
    height: 400px;
    position: absolute;
    top: 20%;
    left: 18.5%;
    right: 12%;
    border-radius: 5px;
    padding: 40px 70px 0px 70px;
    z-index: 2;
    box-shadow: 0 0 30px rgb(71, 74, 82);


}

.home-header {
    color:rgb(228, 229, 236);
    margin-top: 5%;
    
    
}
.header-span {
    color:rgb(207, 222, 248);
    font-style:italic;
}
.text {
    color:rgb(183, 183, 187);
    font-size: 1.2rem;
}

.para-span {
    color:rgba(2, 24, 34, 0.5)
}

.home-icons {
    margin: 20% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    margin: 65px  5px 5px;
    background-image: var(--bs-gradient);
    border-radius: 50%;
}

.globe-icon {
    background-color: rgb(41, 42, 43);
    width:60px;
    height: 60px;
    padding: 20px;

}

.envelope-icon {
    background-color: rgb(71, 62, 2);
    width:40px;
    height: 40px;
    padding: 11px;
}

.twitter-icon {
    background-color: rgb(233, 225, 183);
    width:25px;
    height: 25px;
    padding: 7px;
}

/* SERVICE STYLING */
.service-div {
    background-color: #fff;
    padding: 10px 20px 5px 30px;
}

/* FILER STYLING */

.filter-div {
    display: inline-flex;
    padding: 1px 5px 2px 5px;
    width: 95px;
    margin: 15px 5px 10px 5px;
}

.filter-button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin: 0px;


}

.img-text-div {
    width: 110px;
    text-align: center;
    padding: 3px 2px;
}

.filter-img {
    width: 35px;
    height: 33px;
}

.filter-text {
    font-size: 0.8rem;
}



.carousel-indicators [data-bs-target] {
    background-color: transparent;
}

.carousel-control-prev {
    background-color: #fff;
    width: 18px;
    height: 18px;
    top: 35px;
    left: 5px;
    font-size: 0.4rem;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
    padding: 3px;
}

.carousel-control-next {
    background-color: #fff;
    width: 18px;
    height: 18px;
    top: 35px;
    right: 20px;
    font-size: 0.4rem;
    font-weight: 400;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
    padding: 3px;
}

.carousel-indicators button {
    display: none;
}

/* CARD STYLING */
.card--div {
    margin: 50px 5px 10px 5px;
    display: inline-flex;
    position: relative;
}

.badgeText {
    background-color: #fff;
    color: pink;
    font-size: 1rem;
    position: absolute;
    /* top: 30px; */
    right: 10px;
    z-index: 1;

}

.heart-icon {
    color: pink;
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    z-index: 1;
}

section .carousel-control-prev {
    background-color: #fff;
    width: 19px;
    height: 18px;
    font-size: 0.4rem;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    top: 92px;
    left: 14px;
    padding: 3px;
}

section .carousel-control-next {
    background-color: #fff;
    width: 19px;
    height: 18px;
    font-size: 0.4rem;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    right: 15px;
    top: 92px;
    padding: 3px;
}

.details--img {
    width: 300px;
    height: 260px;
    border-radius: 7px;

}

/* LOGIN STYLE */

.login-header {
    font-size: 1.5rem;
}
.login-form {
    background-color: transparent;
    background-image: var(--bs-gradient);
    width: 380px;
    height: 500px;
    padding: 20px 5px 5px 10px; 
    margin: auto;
    border-radius: 10px;

}

.login-label {
    color: blue;
    margin-left: 10px;
}

.login-input {
    width: 270px;
    height: 35px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    outline: none;
}

.login-btn {
    width: 300px;
    height: 40px;
    border-radius: 3px;
    margin: 40px 0px 0px 0px;
}

/* SIGNUP PAGE */
.login--form {
    background-color: transparent;
    background-image: var(--bs-gradient);
    width: 380px;
    height: 500px;
    padding: 20px 5px 5px 10px; 
    margin: auto;
    border-radius: 10px;
}




    